apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{k8s_ca}}
    server: {{k8s_server}}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubernetes-admin
  name: kubernetes-admin@kubernetes
current-context: kubernetes-admin@kubernetes
kind: Config
preferences: {}
users:
- name: kubernetes-admin
  user:
    client-certificate-data: {{k8s_admin}}
    client-key-data: {{k8s_admin_key}}
